# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
vn/
venv/
env/

# -----------------------------
# SQLite Database
# -----------------------------
db.sqlite3

# -----------------------------
# Django stuff
# -----------------------------
*.log
local_settings.py

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Migrations cache (optional)
# -----------------------------
**/__pycache__/

# -----------------------------
# Static collected files (if used later)
# -----------------------------
staticfiles/
