{% extends "polls/base.html" %}

{% block content %}
<h2 class="text-center">Latest Polls</h2>

{% if latest_question_list %}
    <ul class="list-group">
        {% for question in latest_question_list %}
            <li class="list-group-item">
                <a class="text-decoration-none" href="{% url 'polls:detail' question.id %}">
                    {{ question.question_text }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-warning">No polls are available.</p>
{% endif %}
{% endblock %}
